@using HealthCare.Core.Models;
@inject BookingService BookingService

<h3>Book an Appointment</h3>

<input type="datetime-local" @bind="selectedTime" />
<input type="text" placeholder="Patient Name" @bind="patient.Name" />
<!-- You can add other patient information input fields as needed -->

<select @bind="selectedService">
    <option value="General Checkup">General Checkup</option>
    <option value="Vaccination">Vaccination</option>
    <!-- Add other service options as needed -->
</select>
<button @onclick="BookAppointment">Book</button>

@code {
    private DateTime selectedTime;
    private Patient patient = new Patient(); // Initialize a dummy patient

    private string selectedService;

    private void BookAppointment()
    {
        // Set default values for other patient properties
        patient.Id = new Guid();
        patient.Email = " "; // Add other properties and set default values as needed
        

        var newBooking = new HealthCare.Core.Models.Booking
            {
                Time = selectedTime,
                Patient = patient,
                Service = selectedService
            };

        BookingService.AddBooking(newBooking);
    }
}
