@page "/feedback"
@using HealthCare.Core.Models;
@inject FeedbackService feedbackService

<h3>Leave Feedback</h3>
<input @bind="feedback.Title" placeholder="Feedback Title" />
<textarea @bind="feedback.Comment" placeholder="Feedback Comment"></textarea>
<button @onclick="SubmitFeedback">Submit Feedback</button>

<h3 class="feedback">All Feedback</h3>
@foreach (var feedback in feedbackService.GetAllFeedback())
{
    <div>
        <p>Title: @feedback.Title</p>
        <p>Comment: @feedback.Comment</p>
        <p>Time: @feedback.Time</p>
    </div>
}

@code {
    //rename class or pages cuz nameed pages and classes collide
    public HealthCare.Core.Models.Feedback feedback = new HealthCare.Core.Models.Feedback();

   

    public void SubmitFeedback()
    {
        // Set the time before saving
        feedback.Time = DateTime.Now;

        feedbackService.SaveFeedback(feedback);

        // reset the input fields
        feedback = new HealthCare.Core.Models.Feedback();
    }
}
