@page "/dashboard"

<h3>Dashboard Caregiver</h3>

<div>
    <h5>Scheduele</h5>
    <NavLink class="nav-link" href="dashboard">Manage Availability</NavLink>
    (Länk till en kalender för Caregiver)
</div>
---------------------------------------
<div>
    <h5>Upcomming Appointments</h5>
    <ol>
        <li>Time + Patient</li>
        <li>Time + Patient</li>
        <li>Time + Patient</li>
    </ol>
</div>
---------------------------------------
<div>
    <h5>Past Apointments</h5>
    <ol>
        <li>Time + Patient</li>
        <li>Time + Patient</li>
        <li>Time + Patient</li>
    </ol>
</div>
---------------------------------------
<div>
    <h5>Profile</h5>
    <label>Name:</label>
    <label>Date of Birth:</label>
    <NavLink class="nav-link" href="profile"> Edit Profile </NavLink>
</div>

@code {

}
