.dashboard-container {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h3 {
    color: #333;
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
    margin-bottom: 20px;
}

div {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h5 {
    color: #555;
}

ol {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}
