@page "/login"
@inject IAuthenticationService AuthenticationService

<h3>Logging in...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthenticationService.Login();
    }
}
